/* Resetowanie marginesów, paddingów i box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Stylizacja całego ciała strony */
body {
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 100vh;
}

/* Stylizacja panelu bocznego */
.sidebar {
  width: 250px;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  position: fixed;
  height: 100%;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin: 20px 0; /* Zwiększenie odstępu między elementami listy */
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease, padding 0.3s ease; /* Dodanie animacji transformacji i paddingu */
}

/* Dodanie odstępu między ikoną a tekstem */
.sidebar ul li a i {
  margin-right: 10px; /* Dodaje odstęp między ikoną a tekstem */
}

/* Stylizacja po najechaniu na link */
.sidebar ul li a:hover {
  background-color: #34495e;
  transform: translateX(10px); /* Animacja przesunięcia w prawo */
  border-radius: 5px;
}

/* Stylizacja głównej zawartości */
.main-content {
  margin-left: 250px;
  padding: 20px;
  width: 100%;
}

/* Stylizacja nagłówka */
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 20px;
  position: relative;
  width: 100%;
}

/* Stylizacja użytkownika i sub-menu */
.user-info {
  position: relative;
  cursor: pointer;
  font-size: 18px;
  text-align: right;
  display: flex;
  align-items: center;
}

/* Odstęp między ikoną a nazwą użytkownika */
.user-info i {
  margin-left: 8px;
}

.user-info span {
  display: inline-block;
}

.user-info.active .dropdown {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

/* Sub-menu */
.user-info .dropdown {
  visibility: hidden;
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #fff;
  color: #2c3e50;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 150px;
  padding: 10px 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.user-info .dropdown ul {
  list-style: none;
}

.user-info .dropdown ul li {
  padding: 5px;
  text-align: center;
}

.user-info .dropdown ul li a {
  color: #2c3e50;
  text-decoration: none;
}

.user-info .dropdown ul li a:hover {
  background-color: #f1f1f1;
}

.content {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ecf0f1;
}
