* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Import czcionki Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
	display: flex;
	flex-direction: column;
	align-items: center;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background-color: #f4f6f9;
}

a { 
  text-decoration: none;
}

.header {
	background-color: #343957;
  color: white;
  font-weight: 600;
  font-size: 1.2em;
  padding: 16px;
  text-align: center;
  border-radius: 8px 8px 0 0;
}

.header .side-text {
	font-weight: 100;
}

.tracker {
  color: #03E379;
}

.control-form-content {
	margin: 10em 0;
  display: flex;
  flex-direction: column;
}

.form-container {
  width: 50vw;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 8px 8px;
  border: 1px solid #ddd;
}

.form-group {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
  margin: 20px 0; 
}

.form-group label {
  font-size: 1.2em;
  color: #343957;
  font-weight: 500;
  display: block;
}

.form-group input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group input:focus {
  outline: none;
  border-color: #03E379;
  box-shadow: 0 0 5px rgba(3, 227, 121, 0.5);
}

.form-actions {
  text-align: center;
}

.form-footer {
  text-align: center;
  margin-top: 20px;
}

.form-footer a {
  color: #593bdb;
  text-decoration: none;
  font-weight: 500;
}

.form-footer a:hover {
  text-decoration: underline;
}

.submit-button {
  background-color: #03E379; 
  color: white; 
  font-size: 16px; 
  padding: 10px 30px; 
  border: none; 
  border-radius: 0 4px 4px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.submit-button:hover {
  background-color: #593bdb;
}

.submit-button:focus {
  outline: none; 
  box-shadow: 0 0 5px rgba(3, 227, 121, 0.5); 
}