* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Import czcionki Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  min-height: 100vh;
  background-color: #f4f6f9;
}

a { 
	text-decoration: none;
}

.sidebar {
  width: 250px;
  background-color: #343957;
  color: white;
  padding: 20px 0;
  padding-top: 0;
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  padding: 25px;
}

hr {
  border: none;
  border-top: 5px solid #30344f;
}

.sidebar-header h2 {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
  text-align: center; 
}

.sidebar-header h2 .tracker {
  color: #03E379;
  font-size: 32px; 
}

.sidebar-menu {
  padding: 16px;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
}

.sidebar ul li {
  margin-bottom: 20px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, padding 0.3s ease;
  padding: 10px;
  border-radius: 4px;
}

.sidebar ul li a i {
  margin-right: 12px;
}

.sidebar ul li a:hover {
  background-color: #593bdb;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 40px;
  background-color: #f4f6f9;
  padding: 32px;
  width: 100%;
  border-bottom: solid 5px #f0f2f5;
}

.content h2 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #343957;
  font-weight: 600;
}

.user-info {
  position: relative;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.user-info i {
  margin-left: 8px;
}

.user-info span {
  font-weight: 500;
}

.user-info.active .dropdown {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

/* Sub-menu */
.user-info .dropdown {
  visibility: hidden;
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #fff;
  color: #343957;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  padding: 10px 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.user-info .dropdown ul {
  list-style: none;
}

.user-info .dropdown ul li {
  font-size: 16px;
  padding: 8px 20px;
  text-align: left;
}

.user-info .dropdown ul li a {
  color: #343957;
  text-decoration: none;
}

.user-info .dropdown ul li a:hover {
	padding: 6px;
	border-radius: 5px;
  background-color: #f1f1f1;
}

.content {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-top: 20px;
}

.fas {
  font-size: 20px;
  margin-right: 12px;
}

.sidebar-menu ul li a {
  padding: 12px;
  font-size: 18px;
}

.sidebar-menu ul li a:hover {
  background-color: #593bdb;
  transform: scale(1.05);
}

.content {
  margin: 0 30px;
  padding: 30px;
}

.content p {
  font-size: 16px;
  color: #6c757d;
}

.tracker {
  color: #03E379;
}

.footer {
  margin-top: auto;
  text-align: center;
  background-color: #f4f6f9;
  padding: 32px;
  border-top: solid 5px #f0f2f5;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.user-table th, .user-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.user-table th:last-child, .user-table td:last-child {
  border-right: none;
}

.user-table th {
  background-color: #343957;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
}

.user-table tbody tr:nth-child(even) {
  background-color: #f3f4f5;
}

.user-table td {
  color: #343957;
  font-size: 16px;
  text-align: center;
}

.user-table .actions i {
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #343957;
  transition: color 0.3s ease;
}

.user-table .actions i:hover {
  color: #03E379;
}

.content-top {
  display: flex;
}

.search-container {
  margin-bottom: 20px;
  display: flex;
  margin-left: auto;
  align-items: center;;
}

.search-container {
  margin-bottom: 20px;
  display: flex;
  margin-left: auto;
  align-items: center;
}

.search-input {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease;
}

.search-input:focus {
  outline: none;
  border-color: #03E379;
  box-shadow: 0 0 5px rgba(3, 227, 121, 0.5);
}

.filter-button {
  background-color: #03E379; 
  color: white; 
  font-size: 16px; 
  padding: 10px 30px; 
  border: none; 
  border-radius: 0 4px 4px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.filter-button:hover {
  background-color: #593bdb;
}

.filter-button:focus {
  outline: none; 
  box-shadow: 0 0 5px rgba(3, 227, 121, 0.5); 
}
